@page
@model TP02CSharp.Pages.CityManager.CreateCityHandlerModel

<h2>Register a City (Handler Parameter)</h2>

<form method="post">

    <div>
        <label>City Name</label>
        <input type="text" name="cityName" />
    </div>

    <button type="submit">Submit</button>

</form>

@if (Model.Message != null)
{
    <p>@Model.Message</p>
}